<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form action="/forgetPassword">
            <label for="mail">adresse e-mail :</label>
            <input type="email" name="mail" id="mail">
            <button type="submit">Récupérer mon mot de passe</button>
        </form>
    </div>
</body>
</html>