<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <link rel="stylesheet" href="assets/css/main.css">
  <title>Page Title</title>
</head>
<body>

  <div class="menu">
    <div class="back">
      <i class="fa fa-chevron-left"></i>
      <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/>
    </div>
    <div class="name"></div>
    <div class="last"></div>
  </div>

  <ol class="chat">

    <li class="other">
      <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>

      <div class="msg">
        <p></p>
        <p> <emoji class="pizza"/></p>
        <time>20:17</time>
      </div>
    </li>


    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>

      <div class="sg">
        <p></p>
        <p><emoji class="books"/></p>
        <p></p>
        <time>8</time>
      </div>
    </li>

    
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
      <div class="msg">
        <p><emoji class="suffocated"/></p>
        <time></time>
      </div>
    </li>
  </ol>
  <form action="/sendMessage" method="post">
    <input class="message" id="message" name="message" type="text" placeholder="Type here!"/><button id="sender" type="submit">Envoyer</button><div class="emojis"></div>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/js/client.js"></script>
      
  
</body>
